.task-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .task-group {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 5px;
    background-color: rgba(214, 224, 233, 0.748);
    border-radius: 8px;
    padding: 15px;

    .detailDisplay {
      font-size: 1.3em;

      span {
        font-weight: bolder;
      }
    }

    .btn-group {
      display: flex;
      gap: 5px;
    }
  }
}
