.search-bar {
  position: relative;
  display: inline-block;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 22px;
  transform: translateY(-50%);
  color: #8c8b8b;
  font-size: 16px;
}
.search-input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1.1em;
  transition: border 0.3s ease;
  background-color: white;
}
.search-input:focus {
  outline: none;
  border: 2px solid rgb(29, 84, 108);
}
