button {
  font-size: 1.05em;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
  transition: all 0.2s ease;
}
button:hover {
  color: white;
  cursor: pointer;
}

.edit-btn {
  background-color: rgb(144, 162, 210);
}

.edit-btn:hover {
  background-color: rgb(17, 39, 119);
}

.delete-btn {
  background-color: rgb(139, 155, 175);
}

.delete-btn:hover {
  background-color: rgb(72, 78, 96);
}

.complete-btn {
  background-color: rgba(80, 204, 80, 0.736);
}

.complete-btn:hover {
  background-color: rgb(1, 178, 7);
}