body {
  padding: 50px 100px;
  min-height: 80vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

.todo-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}